// Заголовки, общие БЄМ блоки и проче...

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    padding-bottom: rem(50);
    border-bottom: rem(4) solid $lightGreen;
    @include adaptiveValue("margin-bottom", 100, 50);
    // .header-block__title

    &__title {}

    // .header-block__text

    &__text {
        font-size: rem(20);
        line-height: 160%;
        font-weight: 500;
        max-width: rem(464);
        text-transform: capitalize;
    }

    @media (max-width:$tablet) {
        text-align: center;
        flex-direction: column;
    }
}

//========================================================================================================================================================

.title {
    color: $black;
    @include adaptiveValue("font-size", 50, 36);
    line-height: math.div(70, 50);
    font-weight: 600;
    max-width: rem(469);

    &_center {
        max-width: 100%;
        text-align: center;
    }

    &_wide {
        max-width: 100%;
    }

    &_margin-bttm {
        &:not(:last-child) {
            margin-bottom: em(20, 50);
        }
    }
}